<h1>sign in</h1>

<form action="<%= session_url %>" method="POST">

  <input 
    type="hidden" 
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="text" name="identity" id="identity">
  <label for="identity">username or email</label>

  <br>

  <input type="password" name="password" id="password">
  <label for="password">password</label>

  <br>
  <br>

  <input type="submit" value="sign in">

</form>

<br>
new here? <a href="<%= new_user_url %>">sign up</a>