<div class="col-md-4 col-md-offset-4">
  <div class="container">
    <%= render "form", :user => @user %>
    <%= render "guest" %>
    <br>
    <p class="center">already have an account? <a href="<%= new_session_url %>">sign in</a></p>
  </div>
</div>