

<h1>details for user '<%= @user.username %>'</h1>

(here there will be like galleries and junk ya know)

<% if current_user && current_user.id == @user.id %>

  <p>username: <%= @user.username %></p>
  <p>email address: <%= @user.email %></p>
  <p>password: TOP SECRET but maybe you can reset it later</p>
  <a href="<%= edit_user_url(@user) %>">update your account details</a>
<% end %>