<h1>account details for user '<%= @user.username %>'</h1>

<p>username: <%= @user.username %></p>

<p>email address: <%= @user.email %></p>

<p>password: TOP SECRET</p>

(later there will be other stuff?)
<% if current_user && current_user.id == @user.id %>
  <a href="<%= edit_user_url(@user) %>">update your account details</a>
<% end %>