<h1>edit image</h1>

<%= render "form", :image => @image %>

<br>
<form action="<%= image_url(@image) %>" method="POST">
 <input type="hidden" name="_method" value="DELETE">
 <input 
   type="hidden" 
   name="authenticity_token"
   value="<%= form_authenticity_token %>">
 <input type="submit" value="delete photo">
</form>